# OSX
.DS_Store/
**/.DS_Store

# IDE
.idea/
.run/
*.iml
/vendor/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Distribution / packaging
.env
env/
ENV/